fakedDependenciesEnabled: true

uploadPath: "uploads/"

server:
  applicationConnectors:
    - type: http
      port: 8181
  adminConnectors:
    - type: http
      port: 9001

database:
  driverClass: org.postgresql.Driver
  user: postgres
  url: jdbc:postgresql://localhost:5432/dictionary_db